.upper {
  margin: 0px;
  padding: 0px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(140px, 180px, -300px) rotateX(-12deg) rotateY(-30deg)
    rotateZ(0deg) scale3d(1, 1, 1);
  transition: all 0.3s ease-in-out;
}
.upper2 {
  margin: 0px;
  padding: 0px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(140px, 210px, -300px) rotateX(-12deg) rotateY(-30deg)
    rotateZ(0deg) scale3d(1, 1, 1);
  transition: all 0.3s ease-in-out;
}
.lower {
  margin: 0px;
  padding: 0px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(140px, 270px, -300px) rotateX(-12deg) rotateY(-30deg)
    rotateZ(0deg) scale3d(1, 1, 1);
}
.lower2 {
  margin: 0px;
  padding: 0px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(140px, 240px, -300px) rotateX(-12deg) rotateY(-30deg)
    rotateZ(0deg) scale3d(1, 1, 1);
}
